* {
	box-sizing: border-box;
}

body {
	background-color: #0a2500;
	font-family: 'Orbitron', sans-serif;
}

.container {
	position: relative;
	width: 950px;
	margin: 0 auto;
}

/*	.title {
		font-size: 60px;
		color: #22ce11;
		text-align: center;
	}*/


	#canvas {
		display: block;
		position: absolute;
		top: 75px;
		left: calc(50% - 250px);
		/*border: 1px solid #104201;*/
		box-shadow: 0 0 15px 5px #104201;
		margin: 0 auto;
		background-color: #034a0a;
	}

	#grid {
		display: block;
		position: absolute;
		top: 75px;
		height: 503px;
		width: 503px;
		left: calc(50% - 250px);
		z-index: 10;
	}

	#message {
		display: block;
		position: absolute;
		top: 20px;
		left: calc(50% - 225px);
		width: 450px;
		color: #fff;
		font-size: 16px;
		z-index: 20;
	}

	#start-btn {
		display: block;
		position: absolute;
		top: 252.5px;
		left: calc(50% - 175px) ;
		padding: 10px 0;
		width: 350px;
    box-shadow: 0 0 15px 2.5px #fff;
		text-align: center;
		color: #22ce11;
		font-size: 40px;
		letter-spacing: 6px;
		background-color: #0a2500;
		z-index: 100;
	}

	.start-pause-footnote {
		padding-top: 5px;
		display: block;
		font-size: 11px;
		line-height: 11px;
	}


	.game-info-container {
		display: block;
		position: absolute;
		top: 75px;
		left: calc(50% - 530px);
		width: 250px;
		height: 500px;
		box-shadow: 0 0 15px 5px #104201;
		background-color: #000;
		color: #22ce11;
		text-align: center;
		font-size: 16px;
	}


			#difficulty-message {
				margin: 30px auto;
			}

			.restart-message {
				margin: 30px auto;
				width: 160px;
				text-align: left;
			}

			#score {
				margin: 20px auto 5px;
				padding: 15px 5px;
				width: 160px;
				height: 45px;
				box-shadow: 0 0 15px 10px #104201;
				border-radius: 10px;
				background-color: #000;
				color: #22ce11;
				font-size: 16px;
			}

			#restart-btn {
				margin: 20px auto 5px;
				padding: 5px;
				width: 160px;
				height: 45px;
				box-shadow: 0 0 15px 10px #104201;
				border-radius: 10px;
				background-color: #000;
				color: #22ce11;
				font-size: 16px;
			}

	#size-options-container {
		display: block;
		position: absolute;
		top: 75px;
		left: calc(50% + 280px);
		width: 250px;
		height: 500px;
		box-shadow: 0 0 10px 5px #104201;
		background-color: #000;
		color: #22ce11;
		text-align: center;
		font-size: 16px;
	}

		#game-size-label {
			display: block;
			margin: 20px auto 5px;
			padding: 5px;
			width: 160px;
			height: 45px;

			border-radius: 10px;
			background-color: #000;
			color: #22ce11;
			font-size: 16px;
		}

		.game-size-footnote {
			display: block;
			margin-top: 7.5px;
			width: 150px;
			font-size: 13px;
		}

		#game-difficulty-label {
			display: block;
			margin: 20px auto 0px;
			padding: 5px;
			width: 160px;
			height: 45px;

			border-radius: 10px;
			background-color: #000;
			color: #22ce11;
			font-size: 16px;
		}

		#toggle-difficulty-options {
			margin: 20px auto 5px;
			padding: 5px;
			width: 160px;
			height: 45px;
			box-shadow: 0 0 15px 10px #104201;
			border-radius: 10px;
			background-color: #000;
			color: #22ce11;
			font-size: 16px;
		}

		.difficulty-options-container {
			position: absolute;
			background-color: #000;
			display: none;
		}
			.difficulty-buttons {
				margin: 20px auto 5px;
				padding: 5px;
				width: 160px;
				height: 45px;
				box-shadow: 0 0 15px 10px #104201;
				border-radius: 10px;
				background-color: #000;
				color: #fff;
				font-size: 16px;
			}






			.size-buttons {
				margin: 20px auto 5px;
				padding: 5px;
				width: 160px;
				height: 45px;
				box-shadow: 0 0 15px 10px #104201;
				border-radius: 10px;
				background-color: #000;
				color: #fff;
				font-size: 16px;
			}




/* ===================== Helper classes ===================== */

.active {
	box-shadow: 0 0 15px 5px #fff;
}
